STORYBLOK_OAUTH_TOKEN=from-my-account-personal-access-token
STORYBLOK_SPACE_ID=1111111
STORYBLOK_REGION=us
WP_BASE_URL=https://example.com
WP_ADMIN_USERNAME=user
WP_ADMIN_PASSWORD=password
RICH_TEXT_COMPONENT_NAME=ArticleRichContent
EDITORIAL_GUIDELINES_UUID=this-probably-doesnt-even-need-concealment
